.bash_history
.bash_logout
.bash_profile
.cache
.gitconfig
.dbus
.hushlogin
.keras/
.landscape/
.local/
.motd_shown
.npm/
.nvm/
.netwhistr
.profile
.python_history
.ssh/
.sudo_as_admin_successful
.var/
.viminfo
.vscode-server-server/
.vscode-server/
.wget-hsts
dev/
wslu/
completions/
*log
*.dvi
*.aux
*.elc
